@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
  /* Backgrounds (slightly lighter, more blue) */
  --bg-main: #0F172A;      /* deep blue, not too black */
  --bg-card: #1E293B;      /* clean slate blue */
  --bg-hover: #273449;

  /* Primary */
  --primary: #60A5FA;      /* lighter, more vibrant blue */
  --primary-dark: #3B82F6;

  /* Text */
  --text-main: #F1F5F9;    /* softer white */
  --text-secondary: #94A3B8;

  /* Accents */
  --green: #22C55E;
  --red: #EF4444;
  --yellow: #F59E0B;
}

body {
  background-color: var(--bg-main);
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); */
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}